<h1 style="text-align: center">Stworz Oferte</h1>
<br>
<br>
<div style="display: flex;justify-content: center;align-items: center;
  height: 20vh;">
  <%= form_with model: @oferty, url: oferty_path do |form| %>

<div>
      <%=form.label :tytul %>
      <br>
      <%= form.text_field :tytul %>
    </div>
    <br>
    <div>
      <%=form.label :Branże %>
      <br>
      <%=form.collection_select :id_branzy , @branze, :id, :nazwa %>
    </div>
    <br>
    <div>
      <%=form.label :Stanowisko %>
      <br>
      <%=form.collection_select :id_stanowiska , @stanowisko, :id, :nazwa %>
    </div>
    <br>
    <div>
      <%=form.label :Firma %>
      <br>
      <%=form.collection_select :id_firmy , @firma, :id, :nazwa %>
    </div>
    <br>
    <div>
      <%= check_box_tag 'my_checkbox1' %>
      <%= check_box_tag 'my_checkbox2' %>
      <%= check_box_tag 'my_checkbox3' %>
      <%= check_box_tag 'my_checkbox4' %>
      <%= check_box_tag 'my_checkbox5' %>
      <%= check_box_tag 'my_checkbox6' %>
     <!--   <%= form.check_box :checkbox1, value: 1 %>
      <%= form.check_box :checkbox2, value: 2 %>
      <%= form.check_box :checkbox3, value: 4 %>
      <%= form.check_box :checkbox4, value: 8 %>
      <%= form.check_box :checkbox5, value: 16 %>
      <%= form.check_box :checkbox6, value: 32 %> -->
    </div>
    <div>
      <br>
      <br>
      <%=form.submit %>
    </div>
  <% end %>
</div>