<h1 style="text-align: center">Stworz Oferte</h1>
<br>
<br>
    <div style="display: flex;justify-content: center;align-items: center;
      height: 50vh; ">
  <%= form_with model: @oferty, url: oferty_path do |form| %>
                <div >
                                             <div>
                                    <%=form.label :tytul %>
                                      <br>
                                      <%= form.text_field :tytul %>
                                            </div>
                                            <br>
                                            <div>
                                      <%=form.label :Branże %>
                                      <br>
                                      <%=form.collection_select :id_branzy , @branze, :id, :nazwa %>
                                             </div>
                                             <br>
                                            <div>
                                      <%=form.label :Stanowisko %>
                                      <br>
                                      <%=form.collection_select :id_stanowiska , @stanowisko, :id, :nazwa %>
                                             </div>
                                    <br>
                                              <div>
                                      <%=form.label :Firma %>
                                      <br>
                                      <%=form.collection_select :id_firmy , @firma, :id, :nazwa %>
                                              </div>
                </div>
                <br>
                <div >
                                      <h3 style="text-align: center"> Wybierz wymagane pola  </h3>
                                            <div>
                                      <%=form.label :Wiek %>
                                      <%= check_box_tag 'my_checkbox1' %>
                                            </div>
                                      <br>
                                            <div>
                                      <%=form.label :Wykształcenie %>
                                      <%= check_box_tag 'my_checkbox2' %>
                                            </div>
                                      <br>
                                            <div>
                                      <%=form.label :Miejscezamieszkania %>
                                      <%= check_box_tag 'my_checkbox3' %>
                                            </div>
                                      <br>
                                            <div>
                                      <%=form.label :Staż %>
                                      <%= check_box_tag 'my_checkbox4' %>
                                            </div>
                                      <br>
                                            <div>
                                      <%=form.label :Staż %>
                                      <%= check_box_tag 'my_checkbox5' %>
                                            </div>
                                      <%= check_box_tag 'my_checkbox6' %>

                 </div>
                 <div>
                                      <br>
                                      <br>
                                      <%=form.submit "Dodaj oferte" %>
                 </div>
                <% end %>
      </div>