

<div align="center" style="justify-content: center;align-items: center;">
  <h1>Odpowiedzi</h1>


</div>
<hr class="dotted-hr">
<% if @odpowiedzi.any? %>
  <div class="table-container">
  <table class="moja-tabela">
    <thead>
    <tr>
      <th>Firma</th>
      <th>Oferta</th>
      <th>Imię</th>
      <th>Nazwisko</th>




    </tr>
    </thead>
    <tbody>
    <% @odpowiedzi.each do |odpowiedz| %>

      <tr>
        <td><%= Firma.find((Ofertum.find(odpowiedz.id_oferty).id_firmy)).nazwa %></td>
        <td><%= Ofertum.find(odpowiedz.id_oferty).tytul %></td>
        <td><%= odpowiedz.imie %></td>
        <td><%= odpowiedz.nazwisko %></td>

        <td>  <div align="center" style="float: left; width:30%;">
          <a  href="<%= odpowiedz_index_path(odpowiedz.id) %>" class="btn square-btn">szczegoly</a>
        </div></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% else %>
  <p>Brak odpowiedzi do wyświetlenia.</p>
<% end %>
</div>