<h1 align="center">Formularz odpowiedzi</h1>
<div>
<%= form_with model: @odpowiedz, url: odpowiedzias_path(oferta_id: @oferta.id) do |form| %>
  <div align="center"  style="float:left ; width: 40%" >


                        <div align="center" style="float:left ; width: 50%">
                          <br>
                          <br>
                          <br>
                          <% if Firma.find(@oferta.id_firmy).image.present? %>
                            <p>
                              <%= image_tag Firma.find(@oferta.id_firmy).image.url %>
                            </p>
                          <% end %>
                         </div>

                       <div align="center" style="float:left ; width: 50%">
                         <p style="font-size: 24px ;font-weight: bold;">Informacje o ogłoszeniu</p>
                              <p>Tytuł oferty: <%= @oferta.tytul %></p>
                              <p>Stanowisko: <%= Stanowisko.find(@oferta.id_stanowiska).nazwa %></p>
                              <p>Firma: <%= Firma.find(@oferta.id_firmy).nazwa %></p>
                              <p>Branża: <%= Branza.find(@oferta.id_branzy).nazwa %></p>
                              <p>Rodzaj: <%= @oferta.rodzaj %></p>
                      </div>

  </div>

    <div align="center" style="float:left ; width: 29%">
      <p style="font-size: 24px ;font-weight: bold;">Podstawowe informacje</p>
      <div class="blue-box">
        <br>

                              <%=form.label :Imię %>
                              <br>
                              <%= form.text_field :imie %>
                              <br>
                              <%=form.label :Nazwisko %>
                              <br>
                              <%= form.text_field :nazwisko %>
                              <br>
                              <%=form.label :Numer_Kontaktowy %>
                              <br>
                              <%= form.text_field :nr_tel %>
        <br>
        <br>
      </div>
    </div>

    <div align="center" style="float:left ; width: 29%">
      <p style="font-size: 24px ;font-weight: bold;">Dodatkowe pola do wypełnienia</p>
      <div class="blue-box">
        <br>

                                    <% if @rodzaj.present? && @rodzaj[0] == "1" %>
                                                    <div >
                                                                  <%=form.label :Wiek0 %>
                                                                  <br>
                                                                  <%= form.text_field :wiek %>
                                                    </div>
                                    <% end %>

                                    <% if @rodzaj.present? && @rodzaj[1] == "1" %>
                                                    <div >
                                                                  <%=form.label :Wykształcenie1 %>
                                                                  <br>
                                                                  <%= form.text_field :rodzaj_wyksztalcenia %>

                                                    </div>
                                    <% end %>
                                    <% if @rodzaj.present? && @rodzaj[2] == "1" %>
                                                    <div >
                                                                  <%=form.label :MiejsceZamieszkania2 %>
                                                                  <br>
                                                                  <%= form.text_field :miejsce_zamieszkania %>

                                                    </div>
                                    <% end %>
                                    <% if @rodzaj.present? && @rodzaj[3] == "1" %>
                                                    <div >
                                                                  <%=form.label :Staz3 %>
                                                                  <br>
                                                                  <%= check_box_tag :staz %>

                                                    </div>
                                    <% end %>


        <br>
        <br>
      </div>
</div>

    <div></div>
    <div  style="clear:both"></div>
  <div align="center"  >

    <%=form.submit "Wyślij" ,class:"btn square-btn" %>
  </div>
<% end %>
</div>